/* .chakra-ui-light {
  overflow-y: hidden;
} */

.texttomoto{
  color: #ff716f;
}
.topposttitle:hover{
  color: #ff716f;

}

.min-w-fi{
  min-height: 55vh;
}
.min-ww-fi{
  min-height: 80vh;
}
.bgheight{
  height: 70vh;
}

@media (min-width: 640px) {
  /* Styles for screens 640px and above */
  .your-class {
    height: 70vh;
height: 250vh;
  }
}
